@use "abstracts"as *;
@use "./mixins"as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $sans_serif_font;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;

  body {
    background-color: $primaryBGColor;
    width: 100vw;
    max-width: 1700px;
  }
}

template > div {
  background-color: $primaryBGColor;
}

.container {
  background: inherit;
  @include container;
  height: $height;
}